<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f4bfa1">  <td>18/12/19 17:52:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DELETERequest.deleteUserData()[pri:0, instance:Operations.DELETERequest@3bd40a57]">deleteUserData</td> 
  <td>main@1383524016</td>   <td></td> </tr>
<tr bgcolor="adf1b2">  <td>18/12/19 17:52:26</td>   <td>2713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GETRequestWithQueryParameters.queryParameterGetReqTest()[pri:0, instance:Operations.GETRequestWithQueryParameters@d83da2e]">queryParameterGetReqTest</td> 
  <td>main@1383524016</td>   <td></td> </tr>
<tr bgcolor="a263c2">  <td>18/12/19 17:52:19</td>   <td>-3938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POSTRequest.registerUser()[pri:0, instance:Operations.POSTRequest@19d37183]">registerUser</td> 
  <td>main@1383524016</td>   <td></td> </tr>
<tr bgcolor="6e876e">  <td>18/12/19 17:52:24</td>   <td>1331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PATCHRequest.updateUserDataPartially()[pri:0, instance:Operations.PATCHRequest@fdefd3f]">updateUserDataPartially</td> 
  <td>main@1383524016</td>   <td></td> </tr>
<tr bgcolor="9b9692">  <td>18/12/19 17:52:21</td>   <td>-1892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PUTRequest.updateUserInfo()[pri:0, instance:Operations.PUTRequest@1a0dcaa]">updateUserInfo</td> 
  <td>main@1383524016</td>   <td></td> </tr>
<tr bgcolor="8bf372">  <td>18/12/19 17:52:16</td>   <td>-6787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GETRequest.weatherData()[pri:0, instance:Operations.GETRequest@3745e5c6]">weatherData</td> 
  <td>main@1383524016</td>   <td></td> </tr>
</table>
